{% extends "accounts/base-auth-form.html" %}
{% load static %}

{% block auth_title %}Welcome Back!{% endblock %}
{% block auth_subtitle %}Sign in to your account to continue{% endblock %}

{% block auth_content %}
<!-- Google OAuth2 Sign In -->
<a href="{% url 'oauth2_init' %}" class="btn btn-google mb-3">
    <img src="{% static '/assets/images/gg_icon.png' %}" alt="Google" width="20" height="20">
    Sign in with Google
</a>

<div class="divider">or</div>

<!-- Regular Login Form -->
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Sign In</button>
</form>
{% endblock %}

{% block auth_footer %}
Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
{% endblock %}
