{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}

<style>

.iframe-container {display: flex; width: 100%; height: 100%; flex-direction: column; overflow: hidden;}
.parent-fit { flex-grow: 1; border: none; margin: 0; padding: 0; height: 100vh; }

</style>

{% endblock extrastyle %}

{% block content %}

<div class="container mt-4">
    <h2>Profile</h2>
    <div class="alert alert-warning">
        💡 Please fill in the correct account information to facilitate the synchronization of resources and platform information.
    </div>
    <form>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" value="ngohongqui@gmail.com" readonly>
            <button class="btn btn-primary mt-2">Change</button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" value="Ngô">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" value="Quí">
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" value="Số 60 ngách 52/25 phú mỹ mỹ đình từ liêm hà nội, Số 60 ngách 52/25 phú mỹ mỹ đình từ liêm hà nội">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" value="Hà Nội">
            </div>
            <div class="form-group col-md-4">
                <label for="countryRegion">Country/Region</label>
                <input type="text" class="form-control" id="countryRegion" value="Hong Kong (China)">
            </div>
            <div class="form-group col-md-4">
                <label for="zipCode">Zip code</label>
                <input type="text" class="form-control" id="zipCode" value="100000">
            </div>
        </div>
        <div class="form-group">
            <label for="companyName">Company name</label>
            <input type="text" class="form-control" id="companyName" placeholder="Company name">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="phoneCountry">Phone number</label>
                <input type="text" class="form-control" id="phoneCountry" value="Vietnam(84)">
            </div>
            <div class="form-group col-md-8">
                <label for="phoneNumber">&nbsp;</label>
                <input type="text" class="form-control" id="phoneNumber" value="365046569">
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="subscribeEmail" checked>
            <label class="form-check-label" for="subscribeEmail">Subscribe to marketing email</label>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Save changes</button>
    </form>
</div>
<style>
    .form-check-label {
        margin-left: 20px;
    }
    .btn-primary {
        width: 100%;
    }
</style>

{% endblock content %}
