{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}
<style>
    .payment-method {
        border: 1px solid #e9ecef;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        min-width: 200px;
    }

    .payment-method:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    .payment-method.active {
        border-color: #007bff;
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.3);
    }

    .payment-method h4 {
        font-size: 1.5em;
        margin: 15px 0;
        text-align: center;
    }

    .payment-method .icon {
        font-size: 3em;
        color: #007bff;
        text-align: center;
    }

    .balance-block {
        border: 1px solid #e9ecef;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        height: 100%;
    }

    .balance-block h5 {
        margin-bottom: 10px;
    }

    .balance-block h2 {
        color: #007bff;
        font-size: 2.5em;
    }

    .balance-block .badge {
        font-size: 0.8em;
    }

    .payment-info {
        margin-top: 20px;
        display: none;
    }

    .tab-content h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .payment-methods-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .payment-info {
        margin-top: 20px;
    }

    .deposit-amount {
        margin-top: 20px;
    }

    #receiver-info {
        margin-top: 20px;
        display: none;
    }

    #qr-code {
        margin-top: 20px;
        text-align: center;
    }

    #qr-code img {
        max-width: 200px;
        height: auto;
    }

    .suggestion-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }

    .suggestion-amount {
        padding: 10px 20px;
        background-color: #e7ffea;
        border: 1px solid #28a745;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s ease-in-out;
        min-width: 100px;
        text-align: center;
    }

    .suggestion-amount:hover {
        background-color: #007bff;
        color: white;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="container mt-4">
    <h2>Balance</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content pt-3 ">
                <h4 class="mb-4">Select Payment Method</h4>
                <div class="payment-methods-container">
                    <!-- PayPal Card -->
                    <div id="paypal-card" class="card payment-method">
                        <div class="icon">
                            <i class="fab fa-paypal"></i>
                        </div>
                        <h4>PayPal</h4>
                    </div>
                    <!-- Bank Transfer Card -->
                    <div id="bank-card" class="card payment-method">
                        <div class="icon">
                            <img src="/static/assets/images/custom/BIDV_Logo.png" style="width: 140px;">
                        </div>
                        <h4>Bank Transfer</h4>
                    </div>
                    <!-- Crypto Card -->
                    <div id="crypto-card" class="card payment-method">
                        <div class="icon">
                            <i class="fab fa-bitcoin"></i>
                        </div>
                        <h4>Cryptocurrency</h4>
                    </div>
                </div>

                <!-- Suggested Top-up Amounts -->
                {% if APP_ROLE == 'ctv' %}
                <div class="suggestion-box">
                    <div class="suggestion-amount" data-amount="5">$5</div>
                    <div class="suggestion-amount" data-amount="10">$10</div>
                    <div class="suggestion-amount" data-amount="20">$20</div>
                    <div class="suggestion-amount" data-amount="50">$50</div>
                    <div class="suggestion-amount" data-amount="100">$100</div>
                    <div class="suggestion-amount" data-amount="500">$500</div>
                    <div class="suggestion-amount" data-amount="1000">$1000</div>
                </div>
                {% else %}
                <div class="suggestion-box">
                    <div class="suggestion-amount" data-amount="500">$500</div>
                    <div class="suggestion-amount" data-amount="1000">$1000</div>
                    <div class="suggestion-amount" data-amount="2000">$2000</div>
                    <div class="suggestion-amount" data-amount="5000">$5000</div>
                    <div class="suggestion-amount" data-amount="10000">$10000</div>
                </div>
                {% endif %}

                <!-- Deposit Amount Input -->
                <div class="deposit-amount">
                    <label for="deposit-amount">Enter Deposit Amount (in USD):</label>
                    <input type="number" id="deposit-amount" class="form-control" placeholder="5" min="5" step="1">
                </div>

                <!-- QR Code for Bank Transfer -->
                <div id="qr-code" style="display:none">
                    <h4>Scan QR Code to Complete Payment</h4>
                    <img id="qr-code-img" src="" alt="QR Code">
                </div>

                <div id="receiver-info" class="payment-info">
                    <h4>Receiver Information</h4>
                    <p id="receiver-details"></p>
                </div>

                <!-- Deposit Button -->
                <div class="mt-4">
                    <button id="deposit-btn" class="btn btn-primary btn-block">Deposit</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="balance-block">
                <h5>General Balance</h5>
                <h2>{{balance}}</h2>
                <span class="badge badge-secondary">Normal</span>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('deposit-amount').addEventListener('change', function() {
    let inputValue = parseInt(this.value);

    if (inputValue < 5) {
        this.value = 5;
        alert('The minimum deposit amount is 5.');
    }
});

    var selectedMethod = null;

    function hideAllPaymentInfo() {
        document.getElementById('receiver-info').style.display = 'none';
        document.getElementById('qr-code').style.display = 'none';
    }

    function deactivateAllCards() {
        document.getElementById('paypal-card').classList.remove('active');
        document.getElementById('bank-card').classList.remove('active');
        document.getElementById('crypto-card').classList.remove('active');
    }

    document.getElementById('paypal-card').addEventListener('click', function() {
        hideAllPaymentInfo();
        deactivateAllCards();
        document.getElementById('paypal-card').classList.add('active');
        selectedMethod = 'paypal';
    });

    document.getElementById('bank-card').addEventListener('click', function() {
        hideAllPaymentInfo();
        deactivateAllCards();
        document.getElementById('bank-card').classList.add('active');
        selectedMethod = 'bank';
    });

    document.getElementById('crypto-card').addEventListener('click', function() {
        hideAllPaymentInfo();
        deactivateAllCards();
        document.getElementById('crypto-card').classList.add('active');
        selectedMethod = 'crypto';
    });

    document.querySelectorAll('.suggestion-amount').forEach(function(el) {
        el.addEventListener('click', function() {
            var amount = this.getAttribute('data-amount');
            document.getElementById('deposit-amount').value = amount;
        });
    });

    document.getElementById('deposit-btn').addEventListener('click', function() {
        var amount = document.getElementById('deposit-amount').value;
        if (!amount || amount <= 0) {
            alert('Please enter a valid deposit amount.');
            return;
        }
        document.getElementById('loader').style.display = 'block';
        setTimeout(() => {
            document.getElementById('loader').style.display = 'none';
        }, 3000);

        if (selectedMethod === 'paypal' || selectedMethod === 'crypto') {
            var paymentType = selectedMethod === 'paypal' ? 'paypal' : 'crypto';
            fetch(`/api/payment/get_payment_url?type=${paymentType}&amount=${amount}`)
                .then(response => response.json())
                .then(data => {
                    if (data.payment_link) {
                        window.location = data.payment_link;
                    } else {
                        alert('Failed to retrieve payment link.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while processing your payment.');
                });
        } else if (selectedMethod === 'bank') {
            var vnd_amount = parseInt(parseFloat(amount) * {{VND_USD_EXCHANGE_RATE}});
            receiver_info = document.getElementById('receiver-info');
            receiver_info.style.display = 'block';
            receiver_info.innerHTML = `
                <table style="border-collapse: collapse; width: 100%;">
                    <tr>
                        <td style="padding: 10px; font-weight: bold;">Bank:</td>
                        <td style="padding: 10px;">{{BANK_NAME}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-weight: bold;">Account:</td>
                        <td style="padding: 10px;">{{BANK_ACCOUNT}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-weight: bold;">Name:</td>
                        <td style="padding: 10px;">{{BANK_USERNAME}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-weight: bold;">Amount:</td>
                        <td style="padding: 10px;">${vnd_amount} VND</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-weight: bold;">Message:</td>
                        <td style="padding: 10px;">UP {{request.user.customer_code}}</td>
                    </tr>
                </table>`;
            document.getElementById('qr-code-img').src = "/api/payment/get_qr_code/?amount=" + amount;
            document.getElementById('qr-code').style.display = 'block';

        } else {
            alert('Please select a payment method.');
        }
    });
</script>
{% endblock content %}
