{% load i18n static admin_datta %}


<style>
  {% if APP_ROLE == 'admin' %}
    .navbar-brand {
      background: #202020;
    }
    .pcoded-navbar {
      background: #202020;
    }
    .pcoded-navbar .pcoded-submenu {
      background: #202020;
    }
    .pcoded-navbar .pcoded-inner-navbar > li.active > a, .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger > a {
      background: #202020;
    }
    .sidebar-selected {
    background: #47485b;
    color: white !important;
}
    ul.pcoded-submenu li:hover {
    background: #47485b;
}
    .pcoded-submenu  li a:hover {
    color: white !important;
    }

  {% endif %}

</style>

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'index' %}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                {% if APP_ROLE == 'ctv' %}
                <span class="b-title">TrumVPS.v2</span>
                {% else %}
                <span class="b-title">Admin</span>
                {% endif %}
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                </li>
                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-shopping-cart"></i></span><span class="pcoded-mtext">Products</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'instances' %}" class="">
                            <span class="pcoded-micon"><i class="feather icon-server text-c-green"></i></span>
                            <span class="pcoded-mtext">Instances</span>
                        </a>
                        </li>

                        <li class=""><a href="{% url 'vps_history' %}" class="">
                            <span class="pcoded-micon"><i class="feather icon-globe text-c-green"></i></span>
                            <span class="pcoded-mtext">VPS History</span>
                        </a></li>


                        <!--            <li class=""><a href="{% url 'network' %}" class="">-->
                        <!--                <span class="pcoded-micon"><i class="feather icon-globe text-c-green"></i></span>-->
                        <!--                <span class="pcoded-mtext">Network</span>-->
                        <!--                </a></li>-->
                        <!--            <li class=""><a href="{% url 'block_storage' %}" class="">-->
                        <!--                <span class="pcoded-micon"><i class="feather icon-layers text-c-green"></i></span>-->
                        <!--                <span class="pcoded-mtext">Block Storage</span></a></li>-->

<!--                                                <li class=""><a href="{% url 'snapshot' %}" class="">-->
<!--                                                    <span class="pcoded-micon"><i class="feather icon-copy text-c-green"></i></span>-->
<!--                                                    <span class="pcoded-mtext">Snapshot</span></a></li>-->

                        <!--            <li class=""><a href="{% url 'firewall' %}" class="">-->
                        <!--                <span class="pcoded-micon"><i class="feather icon-alert-triangle text-c-green"></i></span>-->
                        <!--                <span class="pcoded-mtext">Firewall</span></a></li>-->
                        <!--            <li class=""><a href="{% url 'image' %}" class="">-->
                        <!--                <span class="pcoded-micon"><i class="feather icon-inbox text-c-green"></i></span>-->
                        <!--                <span class="pcoded-mtext">Image</span></a></li>-->
                        <!--            <li class=""><a href="{% url 'monitoring' %}" class="">-->
                        <!--                <span class="pcoded-micon"><i class="feather icon-activity text-c-green"></i></span>-->
                        <!--                <span class="pcoded-mtext">Monitoring</span></a></li>-->
                    </ul>
                </li>
                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Financial</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'payment' %}" class="">
                            <span class="pcoded-mtext">Payment</span></a></li>
<!--                        <li class=""><a href="{% url 'resource_record' %}" class="">-->
<!--                            <span class="pcoded-mtext">Resource record</span></a></li>-->

                        <li class=""><a href="{% url 'invoices' %}" class="">
                            <span class="pcoded-mtext">Invoices</span></a></li>
                        <li class=""><a href="{% url 'billing' %}" class="">
                            <span class="pcoded-mtext">Bill Report</span></a></li>
                        </a>
                        <li class=""><a href="{% url 'transaction_history' %}" class="">
                            <span class="pcoded-mtext">Transactions</span></a></li>
                        </a>

                    </ul>
                </li>
                {% if user.is_staff %}
                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="{% url 'list_customer' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-users"></i></span><span class="pcoded-mtext">Customer</span></a>

                </li>
                {% endif %}

                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-bookmark"></i></span><span class="pcoded-mtext">Support</span></a>
                    <ul class="pcoded-submenu">
                        {% if not user.is_staff%}
                        <li class=""><a href="{% url 'ticket' %}" class="">
                            <span class="pcoded-mtext">Ticket</span></a></li>
                        <li class=""><a href="{% url 'your_tickets' %}" class="">
                            <span class="pcoded-mtext">Your Tickets</span></a></li>
                        {% else %}
                        <li class=""><a href="{% url 'your_tickets' %}" class="">
                            <span class="pcoded-mtext">All Tickets</span></a></li>
                        {% endif %}


                    </ul>
                </li>

<!--                <li-->
<!--                        class="nav-item pcoded-hasmenu  ">-->
<!--                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i-->
<!--                            class="feather icon-star-on"></i></span><span class="pcoded-mtext">Affiliate</span></a>-->
<!--                    <ul class="pcoded-submenu">-->
<!--                        <li class=""><a href="{% url 'your_introducer' %}" class="">-->
<!--                            <span class="pcoded-mtext">Your Introducer</span></a></li>-->
<!--                        <li class=""><a href="{% url 'link_code' %}" class="">-->
<!--                            <span class="pcoded-mtext">Link code</span></a></li>-->
<!--                        <li class=""><a href="{% url 'affiliate_stats' %}" class="">-->
<!--                            <span class="pcoded-mtext">Affiliate stats</span></a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-user"></i></span><span class="pcoded-mtext">Account</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'profile' %}" class="">
                            <span class="pcoded-mtext">Profile</span></a></li>
                        <li class=""><a href="{% url 'authentication' %}" class="">
                            <span class="pcoded-mtext">Authentication</span></a></li>
                    </ul>
                </li>
<!--                {% if user.is_staff == False %}-->
<!--                <li class="nav-item">-->
<!--                    <a target="_blank" href="/api/product/" class="nav-link "><span class="pcoded-micon"><i-->
<!--                            class="feather icon-zap text-c-green"></i></span><span-->
<!--                            class="pcoded-mtext">Generated API</span></a>-->
<!--                </li>-->
<!--                {% endif %}-->

                {% if user.is_staff %}
                <li
                        class="nav-item pcoded-hasmenu  ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-user"></i></span><span class="pcoded-mtext">Admin</span></a>
                    <ul class="pcoded-submenu">
                        {% if APP_ROLE != 'admin' %}
                        <li class=""><a href="{% url 'ctv-financial' %}" class="">
                            <span class="pcoded-mtext">Financial</span></a></li>
                        {% endif %}
                        <li class=""><a href="{% url 'ctv-settings' %}" class="">
                            <span class="pcoded-mtext">Settings</span></a></li>
                        {% if  APP_ROLE != 'admin' %}
                        <li class=""><a href="{% url 'admin_invoices' %}" class="">
                            <span class="pcoded-mtext">Open Invoice</span></a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Make sure jQuery is included -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get the current path from the URL
    var currentPath = window.location.pathname;

    // Find all <a> elements within nav-items
    var links = document.querySelectorAll('li > a');

    // Loop through each link to find the one that matches the current path
    links.forEach(function(link) {
        if (link.getAttribute('href') === currentPath) {
            // Add 'active' and 'sidebar-selected' class to the <a> element
            link.classList.add('active', 'sidebar-selected');

            // Check if the <li> has a parent that is a 'nav-item pcoded-hasmenu'
            var parentNavItem = link.closest('.nav-item.pcoded-hasmenu');
            if (parentNavItem) {
                // Add 'active' and 'pcoded-trigger' classes to expand the menu
                parentNavItem.classList.add('active', 'pcoded-trigger');
            }
        }
    });
});
</script>
