
<!-- templates/left.html -->
<div>
    {% include 'ctv/pages/instances/create/create-instances-country-block.html' %}
    {% include 'ctv/pages/instances/create/create-instances-image-block.html' %}
    {% include 'ctv/pages/instances/create/create-instances-hardware-block.html' %}
    {% include 'ctv/pages/instances/create/create-instances-login-block.html' %}

    <div style="display:None" >
        {% include 'ctv/pages/instances/create/create-instances-firewall-block.html' %}
    </div>

</div>
