{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}
<style>
    .search-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-bar input {
        flex: 1;
        margin-right: 10px;
    }
    .search-bar select, .search-bar button {
        margin-right: 10px;
    }
    .table thead th {
        background-color: #f8f9fa;
        cursor: pointer;
    }
    .no-logs {
        text-align: center;
        padding: 50px 0;
    }
    .no-logs img {
        max-width: 150px;
        margin-bottom: 20px;
    }
    .width-auto {
        width: auto;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="container mt-4">
    <h2>Refund Requests</h2>
    <div class="search-bar">
        {% if request.user.is_staff %}
        <select class="form-control width-auto mr-1" id="username_filter">
            <option selected>All user</option>
            {% for username in list_user %}
            <option>{{ username }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <input type="text" class="form-control width-auto" id="search-input" placeholder="Search" aria-label="Search"
               style="height: 43px;">
        <button class="btn btn-outline-secondary m-0" style="height: 43px; display:none" id="search-button"><i
                class="fas fa-search"></i></button>
    </div>

    <!-- Modal for adjusting due date -->
    <div class="modal fade" id="dueDateModal" tabindex="-1" role="dialog" aria-labelledby="dueDateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dueDateModalLabel">Adjust Due Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="datetime-local" id="new-due-date" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-due-date-btn">Update</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            {% if request.user.is_staff %}
            <th scope="col">User</th>
            {% endif %}
            <th scope="col" data-sort="instance_name">Created</th>
            <th scope="col" data-sort="action">Hostname</th>
            <th scope="col" data-sort="status">Amount</th>
            <th scope="col" data-sort="performed_by">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="general-tbody">
        <!-- Logs will be loaded here via AJAX -->
        </tbody>
    </table>
    <nav>
        <ul class="pagination" id="pagination">
            <!-- Pagination will be loaded here via AJAX -->
        </ul>
    </nav>
</div>

<script>
    function approve_request(request_id) {
    const url = `/api/admin/refund_requests/${request_id}/approve/`;

    // Perform a GET request using fetch
    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            // Add any additional headers, e.g., authorization token if needed
            // 'Authorization': 'Bearer your-token'
        }
    })
    .then(response => {
        if (!response.ok) {
            alert('There was a problem with the fetch operation. Please try again later.');
        }
        return response.json(); // Parse the JSON from the response
    })
    .then(data => {
        alert("Refund request has been approved successfully");
        window.location.reload();
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}

    function reject_request(request_id) {
    const url = `/api/admin/refund_requests/${request_id}/reject/`;

    // Perform a GET request using fetch
    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            // Add any additional headers, e.g., authorization token if needed
            // 'Authorization': 'Bearer your-token'
        }
    })
    .then(response => {
        if (!response.ok) {
            alert('There was a problem with the fetch operation. Please try again later.');
        }
        return response.json(); // Parse the JSON from the response
    })
    .then(data => {
        alert("Refund request has been rejected successfully");
        window.location.reload();
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}

</script>





<script>
    document.addEventListener('DOMContentLoaded', function() {
        let currentPage = 1;
        let currentSort = '_created';
        let currentFilter = {};
        let currentSearch = '';
        let selectedInvoiceId = null;  // Store the ID of the selected invoice

        window.load_table = function(page = 1, sort = currentSort, filter = currentFilter, search = currentSearch) {
            document.getElementById('loader').style.display = 'block';
            filter_str = Object.keys(filter).map(key => key + "=" + filter[key]).join('&');
            fetch(`/api/admin/refund_requests/?page=${page}&page_size=10&sort_by=${sort}&${filter_str}&search=${search}`)
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById('general-tbody');
                    tbody.innerHTML = '';
                    data.data.forEach(log => {
                        var action_button = ''
                        if (log.status == 'pending') {
                            action_button = `<a onclick="approve_request('${ log.id}')" class="btn btn-sm btn-outline-success">Approve</a>
                            <a onclick="reject_request('${ log.id}')" class="btn btn-sm btn-outline-danger">Reject</a>`
                        }
                        const dueDateStyle = log.due_date < formatDate(new Date()) ? 'style="color: red;font-weight: 700; cursor: pointer"' : '';
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        {% if request.user.is_staff %}
                                <td>${ log.user }</td>
                                {% endif %}
                            <td>${log._created}</td>
                            <td>${log.vps}</td>
                            <td>${log.amount}</td>
                            <td>${log.status}</td>
                            <td> ${action_button} </td>
                        `;
                        tbody.appendChild(row);
                    });

                    const pagination = document.getElementById('pagination');
                    pagination.innerHTML = '';
                    for (let i = 1; i <= data.total_pages; i++) {
                        const pageItem = document.createElement('li');
                        pageItem.className = 'page-item' + (i === data.current_page ? ' active' : '');
                        pageItem.innerHTML = `<a class="page-link" onclick="load_table(${i})">${i}</a>`;
                        pagination.appendChild(pageItem);
                    }
                    document.getElementById('loader').style.display = 'none';

                    // Add event listeners to due date cells
                    document.querySelectorAll('.due-date').forEach(cell => {
                        cell.addEventListener('click', function() {
                            selectedInvoiceId = this.getAttribute('data-invoice-id');
                            const currentDueDate = this.textContent.trim();
                            document.getElementById('new-due-date').value = currentDueDate;
                            $('#dueDateModal').modal('show'); // Show the modal
                        });
                    });
                })
                .catch(error => console.log('Error:', error));
        }

        document.getElementById('update-due-date-btn').addEventListener('click', function() {
            const newDueDate = document.getElementById('new-due-date').value;
            updateDueDate(selectedInvoiceId, newDueDate);
        });

        function updateDueDate(invoiceId, newDueDate) {
            fetch('/api/invoices/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: invoiceId,
                    due_date: newDueDate
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to update due date');
                }
                return response.json();
            })
            .then(() => {
                $('#dueDateModal').modal('hide');  // Hide the modal after update
                load_table();  // Reload the table to reflect updated due date
            })
            .catch(error => {
                console.error('Error updating due date:', error);
                alert('Failed to update due date');
            });
        }

        document.getElementById('search-input').addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                currentSearch = document.getElementById('search-input').value.toLowerCase();
                load_table(currentPage, currentSort, currentFilter, currentSearch);
            }
        });

        load_table();
    });
</script>
{% endblock content %}
