
{% block extrastyle %}
<style>
    .invoice-filters {
        margin-bottom: 20px;
    }
    .invoice-filters .form-control {
        margin-right: 10px;
    }
    .invoice-filters .form-control:last-child {
        margin-right: 0;
    }
    .table thead th {
        background-color: #f8f9fa;
    }
    .no-records {
        text-align: center;
        padding: 50px 0;
    }
    .no-records img {
        max-width: 150px;
        margin-bottom: 20px;
    }
    .no-records h4 {
        margin-top: 20px;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="" >
    <div class="invoice-filters d-flex align-items-center" hidden>
        <input type="text" class="form-control" id="search-input-1" placeholder="Search invoices" hidden>
        <select class="form-control" id="status-filter-select-1" hidden>
            <option value="">All Statuses</option>
            <option value="paid">Paid</option>
            <option value="unpaid">Unpaid</option>
            <option value="overdue">Overdue</option>
        </select>

        <button class="btn btn-primary" id="search-button-1" hidden >Apply Filters</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" id="th-code">Code</th>
                <th scope="col" id="th-created">Created</th>
                <th scope="col" id="th-due-date">Due Date</th>
                <th scope="col" id="th-status">Status</th>
                <th scope="col" id="th-total">Total</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody id="general-tbody-1">
<!--            {% if invoices %}-->
<!--                {% for invoice in invoices %}-->
<!--                    <tr>-->
<!--                        <td>{{ invoice.code }}</td>-->
<!--                        <td>{{ invoice.created }}</td>-->
<!--                        <td>{{ invoice.due_date }}</td>-->
<!--                        <td>{{ invoice.status }}</td>-->
<!--                        <td>{{ invoice.total }}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            {% else %}-->
<!--                <tr>-->
<!--                    <td colspan="5" class="no-records text-center">-->
<!--                        <img src="https://via.placeholder.com/150" alt="No Records">-->
<!--                        <h4>No Invoices</h4>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            {% endif %}-->
        </tbody>
    </table>
    <nav>
        <ul class="pagination" id="pagination-1">
            <!-- Pagination will be loaded here via AJAX -->
        </ul>
    </nav>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let currentPage = 1;
        let currentSort = '-_created';
        let currentActionFilter = '';
        let currentStatusFilter = '';
        let currentFilter = {'user_id': '{{customer.id}}'};
        let currentSearch = '';
        let api_url = '/api/invoices/';

        window.load_table = function(page = 1, sort = '-_created', filter = {}, search = '') {

        document.getElementById('loader').style.display = 'block';
            filter_str = Object.keys(currentFilter).map(key => key + "=" + currentFilter[key]).join('&');
            fetch(`${api_url}?page=${page}&page_size=10&sort_by=${sort}&${filter_str}&search=${search}`)
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById('general-tbody-1');
                    if (data.data.length === 0) {
                        tbody.innerHTML = '';
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td colspan="6" class="no-records text-center">
                        <img src="/static/assets/images/custom/invoice.png" alt="No Records">
                        <h4>No Invoices</h4>
                    </td>
                        `;
                        tbody.appendChild(row);
                    }
                    else{
                        tbody.innerHTML = '';
                        data.data.forEach(item => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${item.code.toUpperCase()}</td>
                                <td>${item._created}</td>
                                <td>${item.due_date}</td>
                                <td>${item.status}</td>
                                <td>${item.amount}</td>
                                <td>
                                    <a href="/invoices/${item.id}" class="btn btn-sm btn-outline-primary">View</a>
                                </td>
                            `;
                            tbody.appendChild(row);
                        });
                    }

                    const pagination = document.getElementById('pagination-1');
                    pagination.innerHTML = '';
                    for (let i = 1; i <= data.total_pages; i++) {
                        const pageItem = document.createElement('li');
                        pageItem.className = 'page-item' + (i === data.current_page ? ' active' : '');
                        pageItem.innerHTML = `<a class="page-link" onclick="load_table(${i}, '${sort}', '${filter}')">${i}</a>`;
                        pagination.appendChild(pageItem);
                    }
                    document.getElementById('loader').style.display = 'none';
                })
        }

        document.getElementById('search-button-1').addEventListener('click', () => {
            currentSearch = document.getElementById('search-input-1').value.toLowerCase();
            load_table(currentPage, currentSort, currentFilter, currentSearch);
        });

        document.getElementById('search-input-1').addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                currentSearch = document.getElementById('search-input-1').value.toLowerCase();
                load_table(currentPage, currentSort, currentFilter, currentSearch);
            }
        });


        document.getElementById('status-filter-select-1').addEventListener('change', (event) => {
            currentFilter["status"] = event.target.value.toLowerCase();
            load_table(currentPage, currentSort, currentFilter, currentSearch);
        });

        document.querySelectorAll('th[data-sort]').forEach(th => {
            th.addEventListener('click', () => {
                const sortField = th.getAttribute('data-sort');
                currentSort = currentSort === sortField ? `-${sortField}` : sortField;
                load_table(currentPage, currentSort, currentFilter, currentSearch);
            });
        });

        load_table();
    });
</script>

{% endblock content %}
