<script>
    function createRegionModal(prefix, reload_table_callback) {
        const modalId = `${prefix}Modal`;
        const modalLabelId = `${prefix}ModalLabel`;
        const modalTitleId = `${prefix}ModalTitle`;
        const modalBodyId = `${prefix}ModalBody`;
        const regionNameId = `${prefix}RegionNameInput`;
        const countryId = `${prefix}CountryInput`;
        const confirmButtonId = `${prefix}ConfirmButton`;
        const serverListId = `${prefix}ServerList`;
        const planListId = `${prefix}PlanList`;

        const countryMapping = {
            "US": "United States",
            "CA": "Canada",
            "DE": "Germany",
            "GB": "United Kingdom",
            "FR": "France",
            "NL": "Netherlands",
            "ID": "Indonesia",
            "VN": "Vietnam",
            "SG": "Singapore",
            "JP": "Japan",
            "KR": "South Korea",
            "BR": "Brazil",
            "AR": "Argentina",
            "ZA": "South Africa",
            "KE": "Kenya",
            "AU": "Australia",
            "AE": "United Arab Emirates",
            "SA": "Saudi Arabia"
        };

        let countryOptions = '';
        for (const [code, name] of Object.entries(countryMapping)) {
            countryOptions += `<option value="${code}">${name}</option>`;
        }

        const modalTemplate = `
            <div class="modal fade" id="${modalId}" tabindex="-1" role="dialog" aria-labelledby="${modalLabelId}" aria-hidden="true">
                <div class="modal-dialog" role="document" style="min-width: 40% !important; height: 80% !important;">
                    <div class="modal-content" style="max-height: none;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="${modalTitleId}">Region Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="${modalBodyId}">
                            <p><strong>Cluster:</strong> <span id="${prefix}ClusterName"></span></p>
                            <div class="form-group">
                                <label for="${regionNameId}">Region Name</label>
                                <input type="text" id="${regionNameId}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="${countryId}">Country</label>
                                <select id="${countryId}" class="form-control">
                                    ${countryOptions}
                                </select>
                            </div>
                            <hr>
                            <p><strong>Servers:</strong></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>vir_server_name</th>
                                        <th>CPU</th>
                                        <th>RAM</th>
                                        <th>Disk</th>
                                        <th>Virt</th>
                                        <th>Lock <input type="checkbox" id="${prefix}HeaderLockCheckbox" class="header-lock-checkbox"></th>
                                    </tr>
                                </thead>
                                <tbody id="${serverListId}"></tbody>
                            </table>


                            <p><strong>Plans:</strong></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Plan</th>
                                        <th>CPU</th>
                                        <th>RAM</th>
                                        <th>Disk</th>
                                        <th>Price</th>
                                        <th>Lock <input type="checkbox" id="${prefix}HeaderLockCheckbox2" class="header-plan-group-checkbox"></th>
                                    </tr>
                                </thead>
                                <tbody id="${planListId}"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="${confirmButtonId}">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        document.body.insertAdjacentHTML('beforeend', modalTemplate);

        document.addEventListener('change', function(event) {
            const isHeaderCheckbox = event.target.classList.contains('header-lock-checkbox');
            const isRowCheckbox = event.target.classList.contains('row-lock-checkbox');
            const isHeaderPlanGroupCheckbox = event.target.classList.contains('header-plan-group-checkbox');
            const isRowPlanGroupCheckbox = event.target.classList.contains('row-plan-group-checkbox');

          // Handle header checkbox toggle
          if (isHeaderPlanGroupCheckbox) {
            const isChecked = event.target.checked;

            // Get all row checkboxes
            const rowCheckboxes = document.querySelectorAll('.row-plan-group-checkbox');

            // Set the checked state of all row checkboxes
            rowCheckboxes.forEach(checkbox => {
              checkbox.checked = isChecked;
            });
          }
          // Handle row checkbox toggle
          else if (isRowPlanGroupCheckbox) {
            // Check if any row checkbox is unchecked
            const rowCheckboxes = document.querySelectorAll('.row-plan-group-checkbox');
            const headerCheckbox = document.querySelector('.header-plan-group-checkbox');

            // If any row checkbox is unchecked, unset the header checkbox
            const allChecked = Array.from(rowCheckboxes).every(checkbox => checkbox.checked);
            if (!allChecked) {
              headerCheckbox.checked = false;
            } else {
              // If all are checked, ensure the header checkbox is checked
              headerCheckbox.checked = true;
            }
          }

         else    if (isHeaderCheckbox) {
                // Always check the header checkbox and check all row checkboxes
                event.target.checked = true;
                const rowCheckboxes = document.querySelectorAll(`#${serverListId} .row-lock-checkbox`);
                rowCheckboxes.forEach(checkbox => checkbox.checked = true);
            } else if (isRowCheckbox) {
                if (event.target.checked) {
                    // Uncheck the header checkbox and all other row checkboxes
                    const headerCheckbox = document.querySelector('.header-lock-checkbox');
                    if (headerCheckbox) headerCheckbox.checked = false;

                    const rowCheckboxes = document.querySelectorAll(`#${serverListId} .row-lock-checkbox`);
                    rowCheckboxes.forEach(checkbox => {
                        if (checkbox !== event.target) checkbox.checked = false;
                    });
                } else {
                    // Re-check the current row checkbox as it was unchecked
                    event.target.checked = true;

                    // Uncheck header and other row checkboxes
                    const headerCheckbox = document.querySelector('.header-lock-checkbox');
                    if (headerCheckbox) headerCheckbox.checked = false;

                    const rowCheckboxes = document.querySelectorAll(`#${serverListId} .row-lock-checkbox`);
                    rowCheckboxes.forEach(checkbox => {
                        if (checkbox !== event.target) checkbox.checked = false;
                    });
                }
            }
        });



        document.getElementById(confirmButtonId).addEventListener('click', function() {
            const regionName = document.getElementById(regionNameId).value;
            const countryCode = document.getElementById(countryId).value;
            region_id = this.getAttribute("region_id");

            const headerCheckbox = document.querySelector('.header-lock-checkbox');
            let lock = null;
            if (!headerCheckbox.checked) {
                const selectedRowCheckbox = document.querySelector(`#${serverListId} .row-lock-checkbox:checked`);
                if (selectedRowCheckbox) {
                    lock = selectedRowCheckbox.getAttribute("server_id");
                }
            }


             const checkedCheckboxes = document.querySelectorAll('.row-plan-group-checkbox:checked');

            // Extract the plan_id attributes into a list
            const planIds = Array.from(checkedCheckboxes).map(checkbox => checkbox.getAttribute('plan_id'));

            const data = {
                id: region_id,
                name: regionName,
                country: countryCode,
                lock: lock,
                list_plan: planIds
            };

            fetch(`/api/admin/setting/region/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                $(`#${modalId}`).modal('hide');
                reload_table_callback();
            })
            .catch(error => {
                console.error('Error:', error);
            });




        });

        // New function to set header checkbox programmatically
        function setHeaderCheckbox(checked) {
            const headerCheckbox = document.querySelector(`#${modalId} .header-lock-checkbox`);
            if (headerCheckbox) {
                headerCheckbox.checked = checked;

                const rowCheckboxes = document.querySelectorAll(`#${serverListId} .row-lock-checkbox`);
                rowCheckboxes.forEach(checkbox => checkbox.checked = checked);
            }
        }

        return {
            modalId,
            setHeaderCheckbox
        };
    }
</script>
