{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}
<style>
    .search-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-bar input {
        flex: 1;
        margin-right: 10px;
    }
    .search-bar select, .search-bar button {
        margin-right: 10px;
    }
    .table thead th {
        background-color: #f8f9fa;
        cursor: pointer;
    }
    .no-logs {
        text-align: center;
        padding: 50px 0;
    }
    .no-logs img {
        max-width: 150px;
        margin-bottom: 20px;
    }
        .width-auto{
            width: auto;
        }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="container mt-4">
    <h2>VPS Action Logs</h2>
    <div class="search-bar">
        {% if request.user.is_staff %}
        <select class="form-control width-auto mr-1" id="username_fitler">
            <option selected>All user</option>
            {% for username in list_user %}
            <option>{{ username }}</option>
            {% endfor %}

        </select>
        {% endif %}
        <select class="form-control width-auto mr-1" id="action-filter-select">
            <option value="">All Actions</option>
            <option value="Create">Create</option>
            <option value="Delete">Delete</option>
            <option value="Suspend">Suspend</option>
            <option value="Upgrade">Upgrade</option>
            <!-- Add more options here if needed -->
        </select>
        <select class="form-control width-auto mr-1" id="status-filter-select">
            <option value="">All Statuses</option>
            <option value="Success">Success</option>
            <option value="Failure">Failure</option>
            <!-- Add more options here if needed -->
        </select>
        <input type="text" class="form-control width-auto " id="search-input" placeholder="Search" aria-label="Search"
               style="height: 43px;">
        <button class="btn btn-outline-secondary m-0" style="height: 43px; display:none" id="search-button"><i
                class="fas fa-search"></i></button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            {% if request.user.is_staff %}
            <th scope="col">User</th>
            {% endif %}
            <th scope="col" data-sort="instance_name">Instance Name</th>
            <th scope="col" data-sort="action">Action</th>
            <th scope="col" data-sort="status">Status</th>
            <th scope="col" data-sort="performed_by">Performed By</th>
            <th scope="col" data-sort="datetime">Date and Time</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody id="general-tbody">
        <!-- Logs will be loaded here via AJAX -->
        </tbody>
    </table>
    <nav>
        <ul class="pagination" id="pagination">
            <!-- Pagination will be loaded here via AJAX -->
        </ul>
    </nav>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let currentPage = 1;
        let currentSort = '-datetime';
        let currentActionFilter = '';
        let currentStatusFilter = '';
        let currentFilter = {};
        let currentSearch = '';

        function make_load_table_function(load_table_function) {

            return function(page = 1, sort = currentSort, filter = currentFilter, search = currentSearch) {

                document.getElementById('loader').style.display = 'block';

                console.log("triggered");
                filter_str = Object.keys(filter).map(key => key + "=" + filter[key]).join('&');
                fetch(`/api/vps/logs/?page=${page}&page_size=10&sort_by=${sort}&${filter_str}&search=${search}`)
                    .then(response => response.json())
                    .then(data => {
                        const tbody = document.getElementById('general-tbody');
                        tbody.innerHTML = '';
                        data.logs.forEach(log => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                           {% if request.user.is_staff %}
                                   <td>${ log.user }</td>
                                   {% endif %}
                               <td>${log.hostname}</td>
                               <td>${log.action}</td>
                               <td>${log.status}</td>
                               <td>${log.performed_by}</td>
                               <td>${log.datetime}</td>
                               <td>${log.description}</td>
                           `;
                            tbody.appendChild(row);
                        });

                        renderPagination_1(data.current_page, data.total_pages)


                        document.getElementById('loader').style.display = 'none';
                    })
                    .catch(error => console.log('Error:', error));
            }

            document.getElementById('search-button').addEventListener('click', () => {
                currentSearch = document.getElementById('search-input').value.toLowerCase();
                window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
            });

            document.getElementById('search-input').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    currentSearch = document.getElementById('search-input').value.toLowerCase();
                    window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
                }
            });

            document.getElementById('action-filter-select').addEventListener('change', (event) => {
                currentFilter["action"] = event.target.value.toLowerCase();
                window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
            });

            document.getElementById('status-filter-select').addEventListener('change', (event) => {
                currentFilter["status"] = event.target.value.toLowerCase();
                window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
            });

            document.querySelectorAll('th[data-sort]').forEach(th => {
                th.addEventListener('click', () => {
                    const sortField = th.getAttribute('data-sort');
                    currentSort = currentSort === sortField ? `-${sortField}` : sortField;
                    window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
                });
            });

            username_fitler = document.getElementById('username_fitler')
            if (username_fitler) {
                username_fitler.addEventListener('change', function() {
                    if (this.value === 'All user') {
                        currentFilter = {};
                        window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
                        return;
                    }
                    currentFilter = {
                        user__username: this.value
                    };
                    console.log(currentFilter);
                    window[load_table_function](currentPage, currentSort, currentFilter, currentSearch);
                });
            }
        }

    function make_pagination(element_id, pagination_function, load_table_function) {
        temp_function = function(currentPage, totalPages, load_table = false) {
            console.log("renderPagination", currentPage, totalPages);
            const pagination = document.getElementById(element_id);
            pagination.innerHTML = '';

            // Don't show 'Prev' and 'Next' if total pages are <= 10
            if (totalPages > 10) {
                // Calculate the previous and next block values
                var prevBlock = Math.floor((currentPage - 1) / 10) * 10;
                var nextBlock = Math.ceil(currentPage / 10) * 10 + 1;

                // Show 'Prev' button if prev_block is valid (greater than 0)
                if (prevBlock > 0) {
                    const prevItem = document.createElement('li');
                    prevItem.className = 'page-item';
                    prevItem.innerHTML = `<a class="page-link" onclick="${pagination_function}(${prevBlock}, ${totalPages}, true)">Prev</a>`;
                    pagination.appendChild(prevItem);
                }
            }
            console.log(currentPage, totalPages, nextBlock, prevBlock);

            // Render page numbers
            const startPage = Math.floor((currentPage - 1) / 10) * 10 + 1;
            const endPage = Math.min(startPage + 9, totalPages);
            for (let i = startPage; i <= endPage; i++) {
                const pageItem = document.createElement('li');
                pageItem.className = 'page-item' + (i === currentPage ? ' active' : '');
                pageItem.innerHTML = `<a class="page-link" onclick="${load_table_function}(${i})">${i}</a>`;
                pagination.appendChild(pageItem);
            }


            // Show 'Next' button if next_block is valid (less than or equal to total pages)
            if (totalPages > 10 && nextBlock <= totalPages) {
                const nextItem = document.createElement('li');
                nextItem.className = 'page-item';
                nextItem.innerHTML = `<a class="page-link" onclick="${pagination_function}(${nextBlock}, ${totalPages}, true)">Next</a>`;
                pagination.appendChild(nextItem);
            }
            if (load_table) {
                window[load_table_function](currentPage)
            }
        }
        return temp_function;
    }


        var load_table_function = 'load_table_1';
        var renderPagination = 'renderPagination_1';
        window[renderPagination] = make_pagination('pagination', renderPagination, load_table_function);
        window[load_table_function] = make_load_table_function(load_table_function);

        console.log("triggered");
        window[load_table_function]();
    });
</script>
{% endblock content %}
